{% extends "layout/html.html" %}

{% block body %}
<form autocomplete="off" method="post">
<div class="auth-wrap">

	<div class="card">
	<h1 class="card-header">{{ Page.title }}</h1>
	<div class="card-body">

		{% if fail %}
			<div class="alert alert-danger">{{ fail }}</div>
		{% endif %}

		{% if warn %}
			<div class="alert alert-waring">{{ warn }}</div>
		{% endif %}

		{% if info %}
			<div class="alert alert-info">{{ info }}</div>
		{% endif %}

		<div class="form-group">
			<label>Region:</labeL>
			<input autocomplete="off" class="form-control" id="contact-region" name="contact-iso3166" type="text" value="{{ region.iso3166_1.name }}">
			<input autocomplete="off" class="form-control" id="contact-region" type="hidden" value="{{ region.iso3166_1.code }}">
		</div>

		<div class="form-group">
			<label>Time Zone:</labeL>
			<input autocomplete="off" class="form-control" id="contact-time-zone" list="time-zone-list" name="contat-tz" type="text" value="{{ time_zone_pick }}">
			<datalist id="time-zone-list">
				{% for tz in time_zone_list %}
					<option value="{{ tz }}"></option>
				{% endfor %}
			</datalist>
		</div>


	</div>
	<div class="card-footer r">
		<button class="btn btn-primary" name="a" type="submit" value="save-next">
			Save &amp; Next
			<i class="icon icon-arrow-right"></i>
		</button>
	</div>
	</div>
</div>
</form>
{% endblock %}
