<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="boot.php"
	cacheResult="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	timeoutForSmallTests="4"
	timeoutForMediumTests="16"
	timeoutForLargeTests="32"
	verbose="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	>

	<coverage />

	<php>
		<env name="debug-http" value="false" />

		<!--
			Put the URL of your SSO Instance Here
			eg: https://sso.openthc.example.com
		 -->
		<env name="OPENTHC_TEST_ORIGIN" value="" />

		<env name="OPENTHC_TEST_CONTACT_A" value="test+a@openthc.example" />
		<env name="OPENTHC_TEST_CONTACT_B" value="test+b@openthc.example" />
		<env name="OPENTHC_TEST_CONTACT_C" value="test+c@openthc.example" />

		<env name="OPENTHC_TEST_CONTACT_PASSWORD" value="password" />

		<env name="OPENTHC_TEST_CONTACT_PHONE" value="+18559769333" />

		<env name="OPENTHC_TEST_WEBDRIVER_URL" value="" />

	</php>

	<testsuites>
		<testsuite name="All">
			<directory>.</directory>
		</testsuite>
	</testsuites>

</phpunit>
