<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="../boot.php"
	cacheResult="false"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	timeoutForSmallTests="2"
	timeoutForMediumTests="8"
	timeoutForLargeTests="32"
	verbose="false"
	>

	<php>

		<!-- PHPUnit populates $_ENV with these -->
		<!-- And one can overwrite these values from standard process environment vars -->

		<!-- URL of SSO Instance Here -->
		<env name="OPENTHC_TEST_ORIGIN" value="https://sso.openthc.example.com" />
		<env name="OPENTHC_TEST_HTTP_DEBUG" value="" />
		<env name="OPENTHC_TEST_WEBDRIVER_URL" value="" />

		<env name="OPENTHC_TEST_CONTACT_0" value="root@openthc.example.com" />
		<!-- A fully Configured Contact & 1 Company -->
		<env name="OPENTHC_TEST_CONTACT_A" value="test+supply@openthc.example.com" />
		<!-- A fully Configured Contact & 1 Company -->
		<env name="OPENTHC_TEST_CONTACT_B" value="test+retail@openthc.example.com" />
		<!-- A fully Configured Contact & 3 Company -->
		<env name="OPENTHC_TEST_CONTACT_C" value="test@openthc.example.com" />
		<env name="OPENTHC_TEST_CONTACT_C_COMPANY_A" value="010TEST0100CYESZPFQ94RCVY7" />
		<!-- <env name="OPENTHC_TEST_CONTACT_C_COMPANY_A" value="010TEST0000CYWQCHMQQPCWF7B" /> -->

		<env name="OPENTHC_TEST_CONTACT_PASSWORD" value="passweed" />

		<env name="OPENTHC_TEST_CONTACT_PHONE" value="+18559769333" />

		<!-- <const name="OPENTHC_TEST_SERVICE_A" value="010PENTHCX0000SVC000000B2B" /> -->
		<!-- <const name="OPENTHC_TEST_SERVICE_A_ORIGIN" value="https://b2b.openthc.dev" /> -->
		<!-- <const name="OPENTHC_TEST_SERVICE_A" value="" /> -->

	</php>

	<testsuites>
		<testsuite name="All">
			<directory>Unit</directory>
			<directory>A_Core</directory>
			<directory>B_Basic</directory>
			<directory>C_Account</directory>
			<directory>D_Verify</directory>
			<directory>G_oAuth2</directory>
			<!-- <directory>.</directory> -->
		</testsuite>
	</testsuites>

	<!-- XDEBUG_MODE=coverage (environment variable) or xdebug.mode=coverage (PHP configuration setting) has to be set -->
	<coverage />

</phpunit>
