;
; SSO Application Configuration
;

[application]
	hostname = "sso.openthc.dev"


;
; Enable Middleware and Pass this secret to enable TEST mode
; If empty, TEST_MODE is not possible
[application_test]
	secret = "PUT_A_BIG_URL_SAFE_RANDOM_KEY_HERE_TO_TRIGGER_TEST_MODE"


;
;
[database]
	hostname = "127.0.0.1"
	database = "openthc"
	username = "openthc"
	password = ""


;
; Need redis for passing data around
[redis]
	hostname = "127.0.0.1"
	database = 0


;
;
[Google]
	recaptcha-public = ""
	recaptcha-secret = ""


;
;
[openthc_app]
	url = "https://app.openthc.dev"
	hostname = "app.openthc.dev"
	client = ""
	secret = ""


;
;
[openthc_cic]
	api_base = "https://cic.openthc.dev/"
	api_auth = ""


;
;
[openthc_cre]
	url = "https://cre.openthc.dev"
	hostname = "cre.openthc.dev"
	client = ""
	secret = ""


;
;
[openthc_dir]
	hostname = "dir.openthc.dev"
	client = ""
	secret = ""


;
;
[openthc_lab]
	url = "https://lab.openthc.dev"
	hostname = "lab.openthc.dev"
	client = ""
	secret = ""


;
;
[openthc_sso]
	url = "https://sso.openthc.dev"
	hostname = "sso.openthc.dev"
	client = ""
	secret = ""
