#
# OpenTHC SSO Docker Caddyfile
#

{
	auto_https off

	log default {
		output file /var/log/caddy/access.log
		level info
		include http.log.access admin.api
	}

	metrics {
		per_host
	}

}

# Fake a 404 for files that *are* in the webroot
# we just don't want people to see them
(common404) {
	@fake404 {
		path /.env
		path /.git
		path /.user.ini
		path /info.php
		path /main.php
		path /wp-login.php
		path /wp-admin/
	}
	respond @fake404 404
}

http:// {

	root * /opt/openthc/sso/webroot/
	log
	encode
	import common404
	file_server

	redir /.well-known/change-password /auth/open?a=password-reset 302

	@static_paths {
		path /css/* /img/* /js/* /output/* /pub/* /vendor/*
	}

	handle @static_paths {
		file_server
	}

	# PHP Everything Else
	handle {
		try_files {path} {path}/index.html {path}/index.php /main.php
		php_fastcgi unix//run/php/php8.4-fpm.sock
	}

	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}

}
