{% extends "layout/html.html" %}

{% block body %}

<form method="post">
<div class="auth-wrap">

	<div class="card">
	<h1 class="card-header">{{ Page.title }}</h1>
	<div class="card-body">

	{{ auth_hint|raw }}

	<div class="form-group">
		<label>Email</label>
		<input autofocus class="form-control" id="username" name="username" placeholder="email" type="email" value="{{ auth_username }}">
	</div>

	<div class="form-group">
		<label>Password</label>
		<input class="form-control" id="password" name="password" type="password">
	</div>
	</div>

	<div class="card-footer">
		<div class="row no-gutters">
			<div class="col-md-6">
				<button class="btn btn-success" id="btn-auth-open" name="a" type="submit" value="Sign In">Sign In</button>
				<a class="btn btn-outline-secondary" href="/auth/once?a=password-reset">Reset Password</a>
			</div>
			<div class="col-md-6 r">
				<a class="btn btn-outline-secondary" href="/account/create">Create an Account</a>
			</div>
		</div>
	</div>

	</div>

</div>
</form>

{% endblock %}
