{% extends "layout/html.html" %}

{% block body %}

<form autocomplete="new-password" method="post">
<div class="auth-wrap">
<div class="card">
<h1 class="card-header">Set Password</h1>
<div class="card-body">

	<div class="form-group">
		<label>Username:</label>
		<input class="form-control" name="username" readonly value="{{ username }}">
	</div>


	<div class="form-group">
		<label>New Password:</label>
		<input autofocus class="form-control password-input" id="password0" type="password" name="p0" >
		<small class="form-text text-muted" id="password-hint">
			Your password must be at least
			<span id="password-length">8 characters</span>, contain
			<span id="password-upper">UPPER</span> and
			<span id="password-lower">lower</span> cased letters,
			<span id="password-number">numbers</span> and
			<span id="password-symbol">special characters</span>.</small>
	</div>
	<div class="form-group">
		<label>Confirm Password:</label>
		<input class="form-control password-input" id="password1" type="password" name="p1" >
		<small class="form-text text-muted" id="password-hint">Must <span id="password-match">match</span> above entry</small>
	</div>
</div>
<div class="card-footer r">
	<button class="btn btn-outline-primary" disabled id="btn-password-update" name="a" type="submit" value="update"><i class="icon icon-arrow-right"></i> Update</button>
</div>
</div>
</div>

</form>

{% endblock %}

{% block foot_script %}
{{ parent() }}
<script>
function password_checker(e) {

	// this is the element being evented on
	var n = this;
	var p = n.value;
	var s = password_score(p);

	$(n).removeClass('border-success border-warning border-danger');

	if (s >= 3) {
		$(n).addClass('border-success');
	} else if (s >= 2) {
		$(n).addClass('border-warning');
	} else if (s >= 1) {
		$(n).addClass('border-danger');
	}

	$('#password-hint span').removeClass('text-success');

	if (p.length >= 8) {
		$('#password-length').addClass('text-success');
	}

	if (p.match(/[A-Z]/)) {
		$('#password-upper').addClass('text-success');
	}
	if (p.match(/[a-z]/)) {
		$('#password-lower').addClass('text-success');
	}
	if (p.match(/[0-9]/)) {
		$('#password-number').addClass('text-success');
	}

	// $('#auth-password-hint').html(hint);

}


function password_matcher(e)
{
	var p0 = $('#password0').val();
	var p1 = $('#password1').val();

	if (p0 === p1) {
		$('#password-match').addClass('text-success');
		$('#btn-password-update').prop('disabled', false);
	} else {
		$('#password-match').removeClass('text-success');
		$('#btn-password-update').prop('disabled', true);
	}

}

function password_score(p)
{
	var min = 8;

	var s = 0;

	if (p.length < min) {
		return s;
	}

	s = Math.ceil((p.length - min) / (min / 3));

	s += (p.match(/[A-Z]+[a-z]+/));
	s += (p.match(/\d+/));
	s += (p.match(/[^\d\w]+/));

	return s;

};

// 	$('.password-input').on('blur keyup', dbpie);


$(function() {
	$('#password0').on('blur change keyup', password_checker);
	$('#password1').on('blur change keyup', password_matcher);
});
</script>
{% endblock %}
