{% extends "layout/html.html" %}

{% block body %}

<div class="auth-wrap">
<div class="card">
<h1 class="card-header">{{ Page.title }}</h1>
<div class="card-body">

	<p>All users must verify their email address and phone number to use these services.</p>

	<form method="post">
	<div class="form-group">
		<label>Email Address:</label>
		<div class="input-group">
			{% if verify_email %}
			<div class="input-group-prepend">
				<div class="input-group-text text-danger">
					&otimes;
				</div>
			</div>
			<input autofocus class="form-control" name="contact-email" value="{{ contact_email }}">
			<div class="input-group-append">
				<button class="btn btn-outline-primary" name="a" type="submit" value="email-verify-send">Resend <i class="icon icon-arrow-right"></i></button>
			</div>
			{% else %}
				<div class="input-group-prepend">
					<div class="input-group-text text-success">
						&check;
					</div>
				</div>
				<input class="form-control" disabled name="contact-email" value="{{ contact_email }}">
			{% endif %}
		</div>
	</div>
	</form>

	<form method="post">
	<div class="form-group">
		<label>Phone Number:</label>
		<div class="input-group">
			{% if verify_phone %}
			<div class="input-group-prepend">
				<div class="input-group-text text-danger">
					&otimes;
				</div>
			</div>
			<input {{ verify_phone_code ?? "autofocus" }} class="form-control" id="contact-phone" inputmode="tel" name="contact-phone" value="{{ contact_phone }}">
			<div class="input-group-append">
				<button class="btn btn-outline-primary" name="a" type="submit" value="phone-verify-send">Resend <i class="icon icon-arrow-right"></i></button>
			</div>
			{% else %}
				<div class="input-group-prepend">
					<div class="input-group-text text-success">
						<i class="icon icon-check-circle-o"></i>
					</div>
				</div>
				<input class="form-control" id="contact-phone" inputmode="tel" name="contact-phone" value="{{ contact_phone }}">
			{% endif %}
		</div>
	</div>
	</form>

	{% if verify_phone_warn %}
		<div class="alert alert-warning">{{ verify_phone_warn }}</div>
	{% endif %}

	{% if verify_phone_code %}
	<form method="post">
	<div class="form-group">
		<label>Verification Code:</label>
		<div class="input-group">
			<input autofocus class="form-control" id="phone-verify-code" name="phone-verify-code" value="">
			<div class="input-group-append">
				<button class="btn btn-outline-primary" name="a" type="submit" value="phone-verify-save">Verify</button>
			</div>
		</div>
	</div>
	</form>
	{% endif %}

</div>
</div>
</div>

{% endblock %}

{% block foot_script %}
{{ parent() }}
<script>
function password_checker(e) {

	// this is the element being evented on
	var n = this;
	var p = n.value;
	var s = password_score(p);

	$(n).removeClass('border-success border-warning border-danger');

	if (s >= 3) {
		$(n).addClass('border-success');
	} else if (s >= 2) {
		$(n).addClass('border-warning');
	} else if (s >= 1) {
		$(n).addClass('border-danger');
	}

	$('#password-hint span').removeClass('text-success');

	if (p.length >= 8) {
		$('#password-length').addClass('text-success');
	}

	if (p.match(/[A-Z]/)) {
		$('#password-upper').addClass('text-success');
	}
	if (p.match(/[a-z]/)) {
		$('#password-lower').addClass('text-success');
	}
	if (p.match(/[0-9]/)) {
		$('#password-number').addClass('text-success');
	}

	// $('#auth-password-hint').html(hint);

}


function password_matcher(e)
{
	var p0 = $('#password0').val();
	var p1 = $('#password1').val();

	if (p0 === p1) {
		$('#password-match').addClass('text-success');
		$('#btn-password-update').prop('disabled', false);
	} else {
		$('#password-match').removeClass('text-success');
		$('#btn-password-update').prop('disabled', true);
	}

}

function password_score(p)
{
	var min = 8;

	var s = 0;

	if (p.length < min) {
		return s;
	}

	s = Math.ceil((p.length - min) / (min / 3));

	s += (p.match(/[A-Z]+[a-z]+/));
	s += (p.match(/\d+/));
	s += (p.match(/[^\d\w]+/));

	return s;

};

// 	$('.password-input').on('blur keyup', dbpie);


$(function() {
	$('#password0').on('blur change keyup', password_checker);
	$('#password1').on('blur change keyup', password_matcher);
});
</script>
{% endblock %}
